    </main>
    <div class="custom-modal">
        <h3>Figyelmeztetés</h3>
        <p>Válassz egy lehetőséget!</p>
        <button class="close-modal">OK</button>
    </div>
    <footer>
        Copyright © <%= new Date().getFullYear() %>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>