<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemzeti Ünnepi Kvíz - Augusztus 20.</title>
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <meta name="title" content="Nemzeti Ünnepi Kvíz - Augusztus 20.">
    <meta name="description" content="Teszteld tudásod az államalapítás ünnepéről!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://quiz.zita.dev/">
    <meta property="og:title" content="Nemzeti Ünnepi Kvíz - Mennyit tudsz augusztus 20-ról?">
    <meta property="og:description" content="Kattints és töltsd ki a kvízt! Vajon eléred a 10/10-et?">
    <meta property="og:image" content="https://quiz.zita.dev/images/og-image.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://quiz.zita.dev/">
    <meta property="twitter:title" content="Nemzeti Ünnepi Kvíz">
    <meta property="twitter:description" content="Teszteld tudásod az államalapítás ünnepéről!">
    <meta property="twitter:image" content="https://quiz.zita.dev/images/og-image.jpg">
    <link rel="stylesheet" href="/styles/main.css?v=2">
</head>
<body>
    <main>