<%- include('partials/header.ejs'); -%>
<div class="template">
    <!-- Az oldal háttere -->
</div>
<div class="quiz">
    <form id="quiz-form" method="post" action="/start">
        <h1>Augusztus 20-a</h1>
        <p>Ha készen állsz indítsd a kvízt!</p>
        <button type="submit" id="start-btn" aria-label="Kvíz indítása">Kezdés</button>
    </form>
</div>
<%- include('partials/footer.ejs'); -%>