<%- include('partials/header.ejs'); -%>
<div class="template">
    <!-- Az oldal háttere -->
</div>
<div class="quiz">
    <form id="quiz-form" method="post" action="/start">
        <h1 id="quiz-title">Augusztus 20-a</h1>
        <p id="quiz-desc">Ha készen állsz indítsd a kvízt!</p>
        <button type="submit" id="start-btn" aria-labelledby="quiz-title" 
                aria-describedby="quiz-desc">Kezdés</button>
    </form>
</div>
<%- include('partials/footer.ejs'); -%>