<%- include('partials/header.ejs'); -%>
<div class="template">
    <!-- Az oldal háttere -->
</div>
<div class="quiz">
    
    <h1>Kvíz vége!</h1>
    <p>Pontszámod: <%= totalScore %> / 10</p>
    <a id="finish-btn" href="/" aria-label="Vissza a teszt indításához.">Vissza a teszt indításához!</a>
    
</div>
<%- include('partials/footer.ejs'); -%>